.expense{
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}